# Maintainer: David Macek <david.macek.0@gmail.com>

_realname=<customize>
pkgbase="app-${_realname}"
pkgname=("app-i686-${_realname}"
         "app-x86_64-${_realname}")
pkgver=<customize>
pkgrel=1
pkgdesc="<customize>"
url="<customize>"
arch=('any')
license=('<customize>')
depends=("<customize>")
makedepends=("p7zip")
provides=("${pkgbase}")
options=(!strip)
source=("<customize>::<customize>")
md5sums=('<customize>')

_lc() {
    for f in "${@}"
    do
        n="$(echo "${f}" | tr 'A-Z' 'a-z')"
        if test "${f}" != "${n}"
        then
            mv "${f}" "${n}"
        fi
    done
}

prepare() {
    _lc *
}

_package() {
    a="${pkgdir}/apps${_apparch}/${_realname}"
    mkdir -p "${a}"
    cp -r * "${a}"
}

package_app-i686-<customize>() {
    _apparch=32
    _package
}

package_app-x86_64-<customize>() {
    _apparch=64
    _package
}
